

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/*-------HOME------*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
    
    }

/*------HEADER------*/
header{
    
    box-shadow: 50px 20px 10px;
    background: linear-gradient(#FF66c4, #ffde59);
    }
    
    .nav-bar{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    
    }
    img.logo{
        width: 100px;
        height: auto;
        max-width: 100px;
        max-height: 100px;
        margin-bottom: -55px;
        margin-top: -500px;
        margin-left: -80px;
        margin-right: 120px;
    }
    
    .nav-list{
        display: flex;
        align-items: center;
        margin-left: -120px;
    }
    .nav-list ul{
        display: flex;
        justify-content: center;
        list-style: none;
        
    
    }
    .nav-item{
        margin: 0 15px;
    }
    
    .nav-link{
        text-decoration: none;
        font-size: 1.15rem;
        color: #000;
        font-weight: 400;
        display: inline-block;
        font-weight: bold;
    }
    
    .nav-link:hover{
    color: #fff;
    transform: scale(1.05);
    }
    
    
    .login-button button {
        border: none;
        padding: 10px 15px;
        border-radius: 15px;
        display: inline-block;
        margin-left: 780px;
        
    }
    button.button_entrar a{
        text-decoration: none;
    }

    .login-button-cad button.button_cadastre {
        border: none;
        padding: 10px 15px;
        border-radius: 15px;
        display: inline-block;
        margin-right: -70px;
        
    }

    button.button_cadastre a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 1.1rem;
        transition: 2s;
    }
    
    .login-button button:hover{
    box-shadow: 0px 0px 8px #ff9101fa;
    
    
    }
    
    .login-button button a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 1.1rem;
        transition: 2s;
    }
    
    .mobile-menu-icon{
        display: none;
    }
    
    .mobile-menu{
        display: none;
    }
    @media screen and (max-whidth:730px) {
        .nav-bar{
            padding: 1.5rem 4rem;
    
        }
        .nav-item{
            display: none ;
    
        }
        .login-button{
            display: none;
        }
        .mobile-menu-icon{
            display: block;
        }
    
        .mobile-menu-icon button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .mobile-menu ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
         }
    
         .mobile-menu .nav-item{
            display: block;
            padding-top: 1.2rem;
    
         }
         .mobile-menu .login-button{
            display: block;
            padding: 1rem 2rem;
         }
    
         .mobile-menu .login-button button {
            width: 100%;
         }
         .open{
            display: block;
         }
    }

/*Sobre nós*/
.hero{
    background-color: #ffffff;
    overflow: hidden;
}

.heading h1{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;

}

.container_text{
    margin: 0;
    width: 100vw;
    height: 10vh;
}

.container_text p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #737373;
    text-align: center;
}

.hero img {
    margin-left: 350px;
    width: 900px;
}

/*------PARTE DO PROFISSIONAL------*/
.seja {
    background-color: #ffde59;
    width: 50vw;
    height: 25vh;
    margin-left: 26vw;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px 3px #737373;
}

h1 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 20px;
}

.label {
    margin-top: 30px;
}

.seja label.label_email {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
}

.label label.label_email{
    margin-left: 17px;
}

.seja input.email {
    margin-left: 15px;
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.seja label.label_celular {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
}

.label label.label_celular{
    margin-left: 200px;
}

.seja input.celular {
    margin-left: 15px;
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.seja .botao_cadastrar {
    border-radius: 20px;
    margin-left: 580px;
}

.seja .botao {
    display: flex;
    margin-top: -50px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.seja .img {
    width: 500px;
    height: 500px;
    margin-bottom: 100px;
}
/*------PARTE DO PROFISSIONAL------*/

/*-----FOOTER------*/


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main{
   height: 80vh; 
}

footer{
    width: 100%;
    color: #dadada; 
    background-color: #24252a;
}
 
.footer-link{
    text-decoration: none;
}

#footer-interface{

grid-template-columns: repeat(4,1fr);
padding: 3rem 3.5rem;
}



#footer_copyright{
display: flex;
justify-content: center;


}

#footer_social_media{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}



#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #dadada;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
} 
    
@media screen and (max-widht:768px) {
    #line-footer{
        grid-template-columns: (2, 1fr);
        gap: 2rem;
    }
    
}

@media screen and (max-widht:426px) {
    #line-footer{
        grid-template-columns: (1, 1fr);
       padding: 3rem 2rem;
    }
    
}