
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/*-------HOME------*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
    
    }

/*------HEADER------*/
header{
    
    box-shadow: 50px 20px 10px;
    background: linear-gradient(#FF9144, #8852FF);
    }
    
    .nav-bar{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    
    }
    img.logo{
        width: 100px;
        height: auto;
        max-width: 100px;
        max-height: 100px;
        margin-bottom: -55px;
        margin-top: -500px;
        margin-left: -80px;
        margin-right: 120px;
    }
    
    .nav-list{
        display: flex;
        align-items: center;
        margin-left: -120px;
    }
    .nav-list ul{
        display: flex;
        justify-content: center;
        list-style: none;
        
    
    }
    .nav-item{
        margin: 0 15px;
    }
    
    .nav-link{
        text-decoration: none;
        font-size: 1.15rem;
        color: #dadada;
        font-weight: 400;
        display: inline-block;
    }
    
    .nav-link:hover{
    color: #fff;
    transform: scale(1.05);
    }
    
    
    .login-button button {
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        display: inline-block;
        margin-left: 780px;
    
    }
    button.button_entrar a{
        text-decoration: none;
    }

    .login-button-cad button.button_cadastre {
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        display: inline-block;
        margin-right: -70px;
        
    }

    button.button_cadastre a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 1.1rem;
        transition: 2s;
    }
    
    .login-button button:hover{
    box-shadow: 0px 0px 8px #ff9101fa;
    
    
    }
    
    .login-button button a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 1.1rem;
        transition: 2s;
    }
    
    .mobile-menu-icon{
        display: none;
    }
    
    .mobile-menu{
        display: none;
    }
    @media screen and (max-whidth:730px) {
        .nav-bar{
            padding: 1.5rem 4rem;
    
        }
        .nav-item{
            display: none ;
    
        }
        .login-button{
            display: none;
        }
        .mobile-menu-icon{
            display: block;
        }
    
        .mobile-menu-icon button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .mobile-menu ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
         }
    
         .mobile-menu .nav-item{
            display: block;
            padding-top: 1.2rem;
    
         }
         .mobile-menu .login-button{
            display: block;
            padding: 1rem 2rem;
         }
    
         .mobile-menu .login-button button {
            width: 100%;
         }
         .open{
            display: block;
         }
    }
    
        
    
/*Serviços*/
.wrapper{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}

.wrapper h1{
    font-size: 3em;
    margin: 60px;

}
.wrapper p{
    font-size: 18px;
}

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 88%;
    margin-top: 30px;
}

.card{
    min-height: 220px;
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);

}
.card i{
margin: 20px;
color: #9400D3;   
}

.card h2{
margin-bottom: 12px;
font-weight: 400;
text-align: center;

}

.card p{
color: #000;
text-align: center;
}

.card:hover i,
.card:hover p{
color: #ffffff;
}

.card:hover h2{
font-weight: 600;

}


.card:nth-child(1):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0%
                                ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto.jpg);
                                background-size: cover;
}

.card:nth-child(2):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto2.jpg);
                                background-size: cover;
}

.card:nth-child(3):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto3.jpg);
                                background-size: cover;
}
.card:nth-child(4):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto4.jpg);
                                background-size: cover;
}

.card:nth-child(5):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto5.jpg);
                                background-size: cover;
}

.card:nth-child(6):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto6.jpg);
                                background-size: cover;
}
