
/*Serviços*/
.wrapper{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}

.wrapper h1{
    font-size: 3em;
    margin: 60px;

}
.wrapper p{
    font-size: 18px;
}

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 88%;
    margin-top: 30px;
}

.card{
    min-height: 220px;
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);

}
.card i{
margin: 20px;
color: #9400D3;   
}

.card h2{
margin-bottom: 12px;
font-weight: 400;
text-align: center;

}

.card p{
color: #000;
text-align: center;
}

.card:hover i,
.card:hover p{
color: #ffffff;
}

.card:hover h2{
font-weight: 600;

}


.card:nth-child(1):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0%
                                ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto.jpg);
                                background-size: cover;
}

.card:nth-child(2):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto2.jpg);
                                background-size: cover;
}

.card:nth-child(3):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto3.jpg);
                                background-size: cover;
}
.card:nth-child(4):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto4.jpg);
                                background-size: cover;
}

.card:nth-child(5):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto5.jpg);
                                background-size: cover;
}

.card:nth-child(6):hover{
background: linear-gradient(45deg,
                               rgba(88, 70, 159, 0.7) 0% ,
                               rgba( 136,113,199, 0.7) 100%) ,
                                url(foto6.jpg);
                                background-size: cover;
}
