
/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family:"Inter", "Montserrat", "Poppins", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #ff6a7e;
  text-decoration: none;
}

a:hover {
  color: #ff6a7e;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:"Inter", "Montserrat", "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Principal
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Título da Página
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000;
}

/*--------------------------------------------------------------
# Botão de voltar ao topo
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #ff66c4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ff66c4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #ff6a7e;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #ff6a7e;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Inter", "Montserrat", "Poppins", sans-serif;
}

.card-title span {
  color: #ff6a7e;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Inter", "Montserrat", "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Estilo para o container do logo */
.logo {
  line-height: 1.2; /* Ajusta o espaçamento entre as linhas para manter a proporção */
}

/* Define a largura do logo para telas maiores */
@media (min-width: 1200px) {
  .logo {
    width: 280px; /* Define a largura da logo em telas grandes */
  }
}

/* Estilos específicos para a imagem dentro do logo */
.logo img {
  max-height: 26px; /* Limita a altura máxima da imagem para evitar distorções */
  margin-right: 6px; /* Adiciona espaço entre a imagem e o texto */
}

/* Estilos específicos para o texto dentro do logo */
.logo span {
  font-size: 26px; /* Tamanho da fonte do texto do logo */
  font-weight: 700; /* Define o peso da fonte para deixá-la mais grossa */
  color: #ff66c4; /* Cor do texto do logo */
  font-family: "Inter", "Montserrat", "Poppins", sans-serif; /* Fonte específica para o texto do logo */
}

/* Estilo para o container do cabeçalho */
.header {
  transition: background-color 0.5s, height 0.5s; /* Animação suave para mudanças de cor e altura */
  z-index: 997; /* Garante que o cabeçalho fique acima de outros elementos */
  height: 60px; /* Define a altura do cabeçalho */
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); /* Adiciona uma sombra suave ao cabeçalho */
  background-color: #fff; /* Cor de fundo branca para o cabeçalho */
  padding-left: 20px; /* Espaçamento à esquerda do conteúdo do cabeçalho */
}

/* Estilo para o botão de alternância da barra lateral */
.header .toggle-sidebar-btn {
  font-size: 32px; /* Define o tamanho da fonte para o ícone do botão */
  margin-left: 0px; /* Espaçamento à esquerda para o ícone do botão */
  cursor: pointer; /* Altera o cursor para 'pointer' quando o usuário passa o mouse */
  color: #000; /* Cor padrão do ícone */
  transition: color 0.3s; /* Transição suave para mudança de cor ao passar o mouse */
}

.header .toggle-sidebar-btn:hover {
  color: #012970; /* Altera a cor do ícone ao passar o mouse */
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none; /* Remove o estilo padrão de lista */
}

.header-nav>ul {
  margin: 0; /* Remove margens */
  padding: 0; /* Remove espaçamentos internos */
}

/* Estilo para os ícones da barra de navegação */
.header-nav .nav-icon {
  font-size: 22px; /* Define o tamanho dos ícones */
  color: #012970; /* Cor padrão dos ícones */
  margin-right: 25px; /* Espaçamento à direita dos ícones */
  position: relative; /* Torna possível o uso do badge (número) */
}

/* Estilo para o ícone de perfil na barra de navegação */
.header-nav .nav-profile {
  color: #012970; /* Cor do ícone de perfil */
}

.header-nav .nav-profile img {
  max-height: 36px; /* Define a altura máxima da imagem de perfil */
}

/* Estilo para o nome do perfil */
.header-nav .nav-profile span {
  font-size: 14px; /* Tamanho da fonte */
  font-weight: 600; /* Peso da fonte */
}

/* Estilo para o badge que mostra o número de notificações/mensagens */
.header-nav .badge-number {
  position: absolute; /* Permite posicionamento absoluto */
  inset: -2px -5px auto auto; /* Posiciona o badge no canto superior direito do ícone */
  font-weight: normal; /* Peso da fonte padrão */
  font-size: 12px; /* Tamanho da fonte */
  padding: 3px 6px; /* Espaçamento interno */
}

/* Ajustes para a localização dos dropdowns de notificações e mensagens */
.header-nav .notifications,
.header-nav .messages {
  inset: 8px -15px auto auto !important; /* Posiciona o menu suspenso no canto superior direito */
}

/* Estilo para o item de notificação */
.header-nav .notifications .notification-item {
  display: flex; /* Exibe os itens em linha */
  align-items: center; /* Alinha verticalmente os itens */
  padding: 15px 10px; /* Espaçamento interno */
  transition: 0.3s; /* Transição suave para hover */
}

/* Ícones dentro dos itens de notificação */
.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px; /* Espaçamento lateral do ícone */
  font-size: 24px; /* Tamanho do ícone */
}

/* Título da notificação */
.header-nav .notifications .notification-item h4 {
  font-size: 16px; /* Tamanho da fonte do título */
  font-weight: 600; /* Peso da fonte */
  margin-bottom: 5px; /* Espaçamento inferior */
}

/* Descrição da notificação */
.header-nav .notifications .notification-item p {
  font-size: 13px; /* Tamanho da fonte */
  margin-bottom: 3px; /* Espaçamento inferior */
  color: #919191; /* Cor do texto */
}

/* Estilo para hover sobre os itens de notificação */
.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff; /* Cor de fundo ao passar o mouse */
}

/* Estilo para os itens de mensagem */
.header-nav .messages .message-item {
  padding: 15px 10px; /* Espaçamento interno */
  transition: 0.3s; /* Transição suave para hover */
}

/* Layout flexível para os links dentro dos itens de mensagem */
.header-nav .messages .message-item a {
  display: flex; /* Exibe os itens em linha */
}

/* Ajuste de tamanho da imagem dentro das mensagens */
.header-nav .messages .message-item img {
  margin: 0 20px 0 10px; /* Espaçamento lateral da imagem */
  max-height: 40px; /* Define a altura máxima da imagem */
}

/* Estilo do título das mensagens */
.header-nav .messages .message-item h4 {
  font-size: 16px; /* Tamanho da fonte */
  font-weight: 600; /* Peso da fonte */
  margin-bottom: 5px; /* Espaçamento inferior */
  color: #444444; /* Cor do título */
}

/* Estilo para o texto das mensagens */
.header-nav .messages .message-item p {
  font-size: 13px; /* Tamanho da fonte */
  margin-bottom: 3px; /* Espaçamento inferior */
  color: #919191; /* Cor do texto */
}

/* Estilo para hover sobre os itens de mensagem */
.header-nav .messages .message-item:hover {
  background-color: #f6f9ff; /* Cor de fundo ao passar o mouse */
}

/* Estilos específicos para o dropdown de perfil */
.header-nav .profile {
  min-width: 240px; /* Define a largura mínima */
  padding-bottom: 0; /* Remove o espaçamento inferior */
  top: 8px !important; /* Posiciona o dropdown */
}

/* Estilo para o cabeçalho do dropdown de perfil */
.header-nav .profile .dropdown-header h6 {
  font-size: 18px; /* Tamanho da fonte */
  margin-bottom: 0; /* Remove a margem inferior */
  font-weight: 600; /* Peso da fonte */
  color: #444444; /* Cor do texto */
}

/* Estilo para o subtítulo no cabeçalho do dropdown */
.header-nav .profile .dropdown-header span {
  font-size: 14px; /* Tamanho da fonte */
}

/* Estilo para os itens dentro do dropdown de perfil */
.header-nav .profile .dropdown-item {
  font-size: 14px; /* Tamanho da fonte */
  padding: 10px 15px; /* Espaçamento interno */
  transition: 0.3s; /* Transição suave para hover */
}

/* Ícones dentro do dropdown de perfil */
.header-nav .profile .dropdown-item i {
  margin-right: 10px; /* Espaçamento à direita do ícone */
  font-size: 18px; /* Tamanho do ícone */
  line-height: 0; /* Define a altura da linha */
}

/* Efeito de hover sobre os itens do dropdown de perfil */
.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff; /* Cor de fundo ao passar o mouse */
}
/*--------------------------------------------------------------
# Responsividade para telas de 320px
--------------------------------------------------------------*/

/* Ajustes para telas menores ou iguais a 320px */
@media (max-width: 320px) {
  /* Logo */
  .logo {
    display: flex;
    align-items: center;
    width: auto;
  }

  .logo img {
    max-height: 20px;
  }

  .logo span {
    font-size: 18px;
  }

  /* Header */
  .header {
    height: 50px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Botão de alternância da barra lateral */
  .header .toggle-sidebar-btn {
    display: block;
    font-size: 28px;
    margin-left: 0;
    color: #000;
  }

  /* Ícones de navegação */
  .header-nav .nav-icon {
    font-size: 18px;
    margin-right: 10px;
  }

  /* Ajustes de perfil e notificações */
  .header-nav .nav-profile span {
    font-size: 12px;
  }

  .header-nav .notifications .notification-item h4,
  .header-nav .messages .message-item h4 {
    font-size: 14px;
  }

  .header-nav .notifications .notification-item p,
  .header-nav .messages .message-item p {
    font-size: 12px;
  }
}

/* Ajustes para telas entre 321px e 768px (tablets e smartphones maiores) */
@media (min-width: 321px) and (max-width: 768px) {
  /* Logo */
  .logo {
    width: auto;
  }

  .logo img {
    max-height: 22px;
  }

  .logo span {
    font-size: 20px;
  }

  /* Header */
  .header {
    height: 55px;
    padding-left: 15px;
  }

  /* Botão de alternância da barra lateral */
  .header .toggle-sidebar-btn {
    font-size: 30px;
    margin-left: 0;
  }

  /* Ícones de navegação */
  .header-nav .nav-icon {
    font-size: 20px;
  }

  /* Ajustes de perfil e notificações */
  .header-nav .nav-profile span {
    font-size: 14px;
  }

  .header-nav .notifications .notification-item h4,
  .header-nav .messages .message-item h4 {
    font-size: 15px;
  }

  .header-nav .notifications .notification-item p,
  .header-nav .messages .message-item p {
    font-size: 13px;
  }
}

/* Ajustes para telas entre 769px e 1200px (desktops menores e tablets maiores) */
@media (min-width: 769px) and (max-width: 1200px) {
  /* Logo */
  .logo {
    width: auto;
  }

  .logo img {
    max-height: 24px;
  }

  .logo span {
    font-size: 22px;
  }

  /* Header */
  .header {
    height: 60px;
    padding-left: 20px;
  }

  /* Botão de alternância da barra lateral */
  .header .toggle-sidebar-btn {
    font-size: 32px;
    margin-left: 0;
  }

  /* Ícones de navegação */
  .header-nav .nav-icon {
    font-size: 22px;
  }

  /* Ajustes de perfil e notificações */
  .header-nav .nav-profile span {
    font-size: 16px;
  }

  .header-nav .notifications .notification-item h4,
  .header-nav .messages .message-item h4 {
    font-size: 16px;
  }

  .header-nav .notifications .notification-item p,
  .header-nav .messages .message-item p {
    font-size: 14px;
  }
}

/* Ajustes para telas maiores que 1200px (desktops grandes) */
@media (min-width: 1201px) {
  /* Logo */
  .logo {
    width: 280px;
  }

  .logo img {
    max-height: 26px;
  }

  .logo span {
    font-size: 26px;
  }

  /* Header */
  .header {
    height: 60px;
    padding-left: 20px;
  }

  /* Botão de alternância da barra lateral */
  .header .toggle-sidebar-btn {
    font-size: 32px;
    margin-left: 0px;
  }

  /* Ícones de navegação */
  .header-nav .nav-icon {
    font-size: 22px;
  }

  /* Ajustes de perfil e notificações */
  .header-nav .nav-profile span {
    font-size: 16px;
  }

  .header-nav .notifications .notification-item h4,
  .header-nav .messages .message-item h4 {
    font-size: 16px;
  }

  .header-nav .notifications .notification-item p,
  .header-nav .messages .message-item p {
    font-size: 14px;
  }
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #ff66c4;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #ff66c4;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

/*--------------------------------------------------------------
# Cadastre seu Serviço
--------------------------------------------------------------*/

/* Estilo para o layout do formulário e da tabela */
.section {
  display: flex; /* Utiliza o Flexbox para layout flexível */
  flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
  gap: 20px; /* Espaço entre os itens */
  padding: 10px; /* Espaçamento interno da seção */
}

/* Estilo para o contêiner do formulário */
.form-container {
  flex: 1; /* Permite que o contêiner ocupe a largura disponível */
  padding: 20px; /* Espaçamento interno do contêiner do formulário */
  background-color: #f9f9f9; /* Cor de fundo do contêiner do formulário */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilo para o contêiner da tabela */
.table-container {
  flex: 1; /* Permite que o contêiner ocupe a largura disponível */
  padding: 20px; /* Espaçamento interno do contêiner da tabela */
}

/* Define o estilo do container que agrupa os campos do formulário */
.form-row {
  display: flex; /* Utiliza o Flexbox para alinhamento horizontal */
  flex-wrap: wrap; /* Permite que os itens quebrem linha conforme necessário */
  gap: 20px; /* Espaço entre os itens do Flexbox */
  margin-bottom: 20px; /* Espaço abaixo dos grupos de entrada */
}

/* Define o estilo para grupos de entrada (label e input/select juntos) */
.input-group {
  flex: 1; /* Permite que o grupo de entrada ocupe a largura disponível */
  display: flex; /* Utiliza Flexbox para alinhamento horizontal */
  flex-direction: column; /* Alinha os itens verticalmente em telas pequenas */
  align-items: flex-start; /* Alinha os itens ao início do eixo principal */
  width: 100%; /* Faz o grupo de entrada ocupar toda a largura disponível */
  margin-bottom: 20px; /* Espaço abaixo do grupo de entrada */
}

/* Estilo das labels dentro dos grupos de entrada */
.input-group label {
  margin-bottom: 15px; /* Espaço abaixo da label */
  color: #000; /* Cor do texto da label */
  font-weight: bold; /* Texto em negrito */
  font-size: 1.25rem; /* Tamanho da fonte da label (20px) */
}

/* Estilo para inputs e selects dentro dos grupos de entrada */
.input-group input,
.input-group select {
  width: 100%; /* Faz o input/select ocupar toda a largura disponível */
  height: 2.5rem; /* Altura dos inputs/selects (40px) */
  padding: 0.5rem; /* Espaçamento interno dos inputs/selects (8px) */
  font-size: 1rem; /* Tamanho da fonte dos inputs/selects (16px) */
  border-radius: 5px; /* Bordas arredondadas */
  border: 2px solid #FF008A; /* Aumenta a espessura e cor da borda dos inputs/selects */
  transition: border-color 0.3s ease; /* Transição suave na mudança de cor da borda */
}

/* Estilo para inputs/selects quando estão focados */
.input-group input:focus,
.input-group select:focus {
  border-color: #FF008A; /* Cor da borda ao focar no input/select */
  outline: none; /* Remove o contorno padrão ao focar */
}

/* Estilo para o botão dentro dos grupos de entrada */
.input-group button {
  width: 100%; /* Largura do botão */
  height: 2.5rem; /* Altura do botão (40px) */
  background-color: #FF008A; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão do botão */
  border-radius: 50px; /* Bordas arredondadas do botão */
  cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
  font-size: 1rem; /* Tamanho da fonte do botão (16px) */
  transition: background-color 0.3s ease; /* Transição suave na mudança de cor do fundo */
}

/* Estilo para o botão ao passar o mouse sobre ele */
.input-group button:hover {
  background-color: #e6007e; /* Cor de fundo do botão ao passar o mouse */
}

/* Media queries para telas menores */
@media (max-width: 575px) {
  .input-group {
    flex-direction: column; /* Alinha os itens verticalmente em telas menores */
  }

  .input-group label {
    width: 100%; /* Largura total para labels em telas menores */
    margin-right: 0; /* Remove o espaço à direita da label */
  }

  .input-group button {
    margin-left: 0; /* Remove o espaço à esquerda do botão em telas menores */
  }
}

/* Media queries para telas maiores */
@media (min-width: 576px) {
  .input-group {
    flex-direction: row; /* Alinha os itens horizontalmente em telas maiores */
    align-items: center; /* Alinha os itens ao centro do eixo principal */
  }

  .input-group label {
    width: 130px; /* Largura fixa para as labels em telas maiores */
    margin-right: 15px; /* Espaço à direita da label */
    margin-bottom: 0; /* Remove o espaço abaixo da label */
  }

  .input-group button {
    width: auto; /* Largura automática para o botão em telas maiores */
    margin-left: 10px; /* Espaço à esquerda do botão */
  }
}

/* Estilo para garantir que o form e a tabela fiquem lado a lado em telas grandes */
@media (min-width: 992px) {
  .form-container, .table-container {
    flex: 0 0 50%; /* Define a largura dos contêineres como 50% do pai */
    max-width: 50%; /* Define a largura máxima dos contêineres como 50% do pai */
  }
}

/*--------------------------------------------------------------
# Serviço Cadastrado
--------------------------------------------------------------*/

/* Estilo geral para o container dos serviços */
#servicos-container {
  display: flex; /* Utiliza Flexbox para layout flexível */
  flex-wrap: wrap; /* Permite que os cards quebrem linha se necessário */
  gap: 15px; /* Espaço entre os cards */
}

/* Estilo para os cards individuais */
.card {
  background-color: #fff; /* Cor de fundo do card */
  border: 2px solid #000; /* Borda leve ao redor do card */
  border-radius: 10px; /* Bordas arredondadas */
  overflow: hidden; /* Esconde o conteúdo que ultrapassa as bordas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  transition: box-shadow 0.3s ease; /* Transição suave na sombra */
  position: relative; /* Para posicionamento dos botões de edição e exclusão */
}

/* Estilo para a imagem do card */
.card-img-top {
  width: 100%; /* Largura total da imagem */
  height: 200px; /* Altura fixa da imagem */
  object-fit: cover; /* Cobre a área do card */
}

/* Estilo para o corpo do card */
.card-body {
  padding: 15px; /* Espaçamento interno do corpo do card */
}

/* Estilo para o título do card */
.card-title {
  font-size: 1.25rem; /* Tamanho da fonte do título */
  margin-bottom: 10px; /* Espaço abaixo do título */
}

/* Estilo para o texto do card */
.card-text {
  font-size: 1rem; /* Tamanho da fonte do texto */
  color: #333; /* Cor do texto */
  margin-bottom: 10px; /* Espaço abaixo do texto */
}

/* Estilo para o contêiner dos botões de edição e exclusão */
.card-body .d-flex {
  margin-top: 15px; /* Espaço acima dos botões */
}

/* Estilo dos botões de edição e exclusão */
.card-body .btn {
  font-size: 0.875rem; /* Tamanho da fonte dos botões */
  padding: 5px 10px; /* Espaçamento interno dos botões */
  border-radius: 5px; /* Bordas arredondadas dos botões */
  transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
}

/* Cor do botão de editar */
.btn-warning {
  background-color: #f0ad4e; /* Cor de fundo do botão de editar */
  border: none; /* Remove a borda padrão */
  color: #fff; /* Cor do texto do botão */
}

/* Cor do botão de excluir */
.btn-danger {
  background-color: #d9534f; /* Cor de fundo do botão de excluir */
  border: none; /* Remove a borda padrão */
  color: #fff; /* Cor do texto do botão */
}

/* Estilo para o botão de editar ao passar o mouse */
.btn-warning:hover {
  background-color: #ec971f; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o botão de excluir ao passar o mouse */
.btn-danger:hover {
  background-color: #c9302c; /* Cor de fundo ao passar o mouse */
}

/* Media queries para telas menores */
@media (max-width: 575px) {
  /* Ajusta o layout dos cards para telas pequenas */
  .card {
    width: 100%; /* Largura total do card */
    margin-bottom: 15px; /* Espaço abaixo dos cards */
  }
}

/* Media queries para telas maiores */
@media (min-width: 576px) {
  .card {
    width: 100%; /* Largura dos cards em telas maiores */
  }
}

/*PEDIDOS*/

/* Estilos gerais para o container dos cards */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilos para o card */
.card-container .card {
  background: linear-gradient(135deg, #f0f8ff, #e0f7fa); /* Degradê azul claro */
  color: #333;
  border: 1px solid #d1d1d1;
  padding: 20px;
  position: relative; /* Necessário para posicionar o status */
  border-radius: 15px; /* Arredondamento dos cantos */
  margin: 20px 0;
  max-width: 600px; /* Limita o tamanho do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-container .card:hover {
  transform: scale(1.02); /* Aumenta ligeiramente o card ao passar o mouse */
}

/* Estilos para o status */
.card-container .card .status {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #007bff; /* Cor de fundo azul */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
}

/* Estilos para o serviço em destaque */
.card-container .card .servico-destaque {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff; /* Cor azul para destacar */
}

/* Estilos para o card sem pedidos */
.card-container .no-pedidos {
  background: linear-gradient(135deg, #ffe5e5, #ffcccc); /* Degradê para o card de nenhum pedido */
  color: #721c24;
  border: 1px solid #f5c6cb;
  text-align: center;
}

.close-card {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
  color: #721c24;
  font-weight: bold;
}

.close-card:hover {
  color: #d9534f;
}

/* Estilos para os botões */
.button {
  background-color: #007bff; /* Cor azul */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px; /* Espaço entre os botões */
  text-align: center;
  display: inline-block; /* Exibe os botões um ao lado do outro */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

.button:active {
  background-color: #003f7f; /* Azul ainda mais escuro ao clicar */
}

/* Estilos para os campos do card */
.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
  gap: 10px; /* Espaçamento entre as colunas */
  width: 100%;
}

.card-content p {
  margin: 5px 0;
}

.card-content p strong {
  display: block; /* Exibe os tópicos em bloco para melhor alinhamento */
}

.card-content p span {
  display: block; /* Exibe os valores em bloco para melhor alinhamento */
}

/* Responsividade */
@media (max-width: 768px) {
  .card-container .card {
    width: 90%;
    margin: 10px auto;
  }

  .button {
    width: 100%;
    padding: 15px;
  }
}

