
/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat","Inter", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #ff66c4;
  text-decoration: none;
}

a:hover {
  color: #ffde59;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Inter", sans-serif;
}

/*--------------------------------------------------------------
# Principal
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Título da Página
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000;
}

/*--------------------------------------------------------------
# Botão de voltar ao topo
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #ff66c4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ff66c4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #ff66c4;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #ff66c4;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  font-family: "Montserrat","Inter", sans-serif;
}

.card-title span {
  color: #ff66c4;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family:  "Montserrat", "Inter", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Estilo para o container do logo */
.logo {
  line-height: 1.2; /* Ajusta o espaçamento entre as linhas para manter a proporção */
}

/* Define a largura do logo para telas maiores */
@media (min-width: 1200px) {
  .logo {
    width: 280px; /* Define a largura da logo em telas grandes */
  }
}

/* Estilos específicos para a imagem dentro do logo */
.logo img {
  max-height: 26px; /* Limita a altura máxima da imagem para evitar distorções */
  margin-right: 6px; /* Adiciona espaço entre a imagem e o texto */
}

/* Estilos específicos para o texto dentro do logo */
.logo span {
  font-size: 26px; /* Tamanho da fonte do texto do logo */
  font-weight: 700; /* Define o peso da fonte para deixá-la mais grossa */
  color: #ff66c4; /* Cor do texto do logo */
  font-family:  "Montserrat", "Inter", sans-serif; /* Fonte específica para o texto do logo */
}

/* Estilo para o container do cabeçalho */
.header {
  transition: background-color 0.5s, height 0.5s; /* Animação suave para mudanças de cor e altura */
  z-index: 997; /* Garante que o cabeçalho fique acima de outros elementos */
  height: 60px; /* Define a altura do cabeçalho */
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); /* Adiciona uma sombra suave ao cabeçalho */
  background-color: #fff; /* Cor de fundo branca para o cabeçalho */
  padding-left: 20px; /* Espaçamento à esquerda do conteúdo do cabeçalho */
}

/* Estilo para o botão de alternância da barra lateral */
.header .toggle-sidebar-btn {
  font-size: 32px; /* Define o tamanho da fonte para o ícone do botão */
  margin-left: 0px; /* Espaçamento à esquerda para o ícone do botão */
  cursor: pointer; /* Altera o cursor para 'pointer' quando o usuário passa o mouse */
  color: #000; /* Cor padrão do ícone */
  transition: color 0.3s; /* Transição suave para mudança de cor ao passar o mouse */
}

.header .toggle-sidebar-btn:hover {
  color: #ff66c4; /* Altera a cor do ícone ao passar o mouse */
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none; /* Remove o estilo padrão de lista */
}

.header-nav>ul {
  margin: 0; /* Remove margens */
  padding: 0; /* Remove espaçamentos internos */
}

/* Estilo para os ícones da barra de navegação */
.header-nav .nav-icon {
  font-size: 22px; /* Define o tamanho dos ícones */
  color: #ff66c4; /* Cor padrão dos ícones */
  margin-right: 25px; /* Espaçamento à direita dos ícones */
  position: relative; /* Torna possível o uso do badge (número) */
}

/* Estilo para o ícone de perfil na barra de navegação */
.header-nav .nav-profile {
  color: #ff66c4; /* Cor do ícone de perfil */
}

.header-nav .nav-profile img {
  max-height: 36px; /* Define a altura máxima da imagem de perfil */
}

/* Estilo para o nome do perfil */
.header-nav .nav-profile span {
  font-size: 14px; /* Tamanho da fonte */
  font-weight: 600; /* Peso da fonte */
}

/* Estilo para o badge que mostra o número de notificações/mensagens */
.header-nav .badge-number {
  position: absolute; /* Permite posicionamento absoluto */
  inset: -2px -5px auto auto; /* Posiciona o badge no canto superior direito do ícone */
  font-weight: normal; /* Peso da fonte padrão */
  font-size: 12px; /* Tamanho da fonte */
  padding: 3px 6px; /* Espaçamento interno */
}

/* Ajustes para a localização dos dropdowns de notificações e mensagens */
.header-nav .notifications,
.header-nav .messages {
  inset: 8px -15px auto auto !important; /* Posiciona o menu suspenso no canto superior direito */
}

/* Estilo para o item de notificação */
.header-nav .notifications .notification-item {
  display: flex; /* Exibe os itens em linha */
  align-items: center; /* Alinha verticalmente os itens */
  padding: 15px 10px; /* Espaçamento interno */
  transition: 0.3s; /* Transição suave para hover */
}

/* Ícones dentro dos itens de notificação */
.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px; /* Espaçamento lateral do ícone */
  font-size: 24px; /* Tamanho do ícone */
}

/* Título da notificação */
.header-nav .notifications .notification-item h4 {
  font-size: 16px; /* Tamanho da fonte do título */
  font-weight: 600; /* Peso da fonte */
  margin-bottom: 5px; /* Espaçamento inferior */
}

/* Descrição da notificação */
.header-nav .notifications .notification-item p {
  font-size: 13px; /* Tamanho da fonte */
  margin-bottom: 3px; /* Espaçamento inferior */
  color: #919191; /* Cor do texto */
}

/* Estilo para hover sobre os itens de notificação */
.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff; /* Cor de fundo ao passar o mouse */
}

/* Estilo para os itens de mensagem */
.header-nav .messages .message-item {
  padding: 15px 10px; /* Espaçamento interno */
  transition: 0.3s; /* Transição suave para hover */
}

/* Layout flexível para os links dentro dos itens de mensagem */
.header-nav .messages .message-item a {
  display: flex; /* Exibe os itens em linha */
}

/* Ajuste de tamanho da imagem dentro das mensagens */
.header-nav .messages .message-item img {
  margin: 0 20px 0 10px; /* Espaçamento lateral da imagem */
  max-height: 40px; /* Define a altura máxima da imagem */
}

/* Estilo do título das mensagens */
.header-nav .messages .message-item h4 {
  font-size: 16px; /* Tamanho da fonte */
  font-weight: 600; /* Peso da fonte */
  margin-bottom: 5px; /* Espaçamento inferior */
  color: #444444; /* Cor do título */
}

/* Estilo para o texto das mensagens */
.header-nav .messages .message-item p {
  font-size: 13px; /* Tamanho da fonte */
  margin-bottom: 3px; /* Espaçamento inferior */
  color: #919191; /* Cor do texto */
}

/* Estilo para hover sobre os itens de mensagem */
.header-nav .messages .message-item:hover {
  background-color: #f6f9ff; /* Cor de fundo ao passar o mouse */
}

/* Estilos específicos para o dropdown de perfil */
.header-nav .profile {
  min-width: 240px; /* Define a largura mínima */
  padding-bottom: 0; /* Remove o espaçamento inferior */
  top: 8px !important; /* Posiciona o dropdown */
}

/* Estilo para o cabeçalho do dropdown de perfil */
.header-nav .profile .dropdown-header h6 {
  font-size: 18px; /* Tamanho da fonte */
  margin-bottom: 0; /* Remove a margem inferior */
  font-weight: 600; /* Peso da fonte */
  color: #444444; /* Cor do texto */
}

/* Estilo para o subtítulo no cabeçalho do dropdown */
.header-nav .profile .dropdown-header span {
  font-size: 14px; /* Tamanho da fonte */
}

/* Estilo para os itens dentro do dropdown de perfil */
.header-nav .profile .dropdown-item {
  font-size: 14px; /* Tamanho da fonte */
  padding: 10px 15px; /* Espaçamento interno */
  transition: 0.3s; /* Transição suave para hover */
}

/* Ícones dentro do dropdown de perfil */
.header-nav .profile .dropdown-item i {
  margin-right: 10px; /* Espaçamento à direita do ícone */
  font-size: 18px; /* Tamanho do ícone */
  line-height: 0; /* Define a altura da linha */
}

/* Efeito de hover sobre os itens do dropdown de perfil */
.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff; /* Cor de fundo ao passar o mouse */
}
/*--------------------------------------------------------------
# Responsividade para telas de 320px
--------------------------------------------------------------*/

/* Ajustes para telas menores ou iguais a 320px */
@media (max-width: 320px) {
  /* Logo */
  .logo {
    display: flex;
    align-items: center;
    width: auto;
  }

  .logo img {
    max-height: 20px;
  }

  .logo span {
    font-size: 18px;
  }

  /* Header */
  .header {
    height: 50px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Botão de alternância da barra lateral */
  .header .toggle-sidebar-btn {
    display: block;
    font-size: 28px;
    margin-left: 0;
    color: #000;
  }

  /* Ícones de navegação */
  .header-nav .nav-icon {
    font-size: 18px;
    margin-right: 10px;
  }

  /* Ajustes de perfil e notificações */
  .header-nav .nav-profile span {
    font-size: 12px;
  }

  .header-nav .notifications .notification-item h4,
  .header-nav .messages .message-item h4 {
    font-size: 14px;
  }

  .header-nav .notifications .notification-item p,
  .header-nav .messages .message-item p {
    font-size: 12px;
  }
}

/* Ajustes para telas entre 321px e 768px (tablets e smartphones maiores) */
@media (min-width: 321px) and (max-width: 768px) {
  /* Logo */
  .logo {
    width: auto;
  }

  .logo img {
    max-height: 22px;
  }

  .logo span {
    font-size: 20px;
  }

  /* Header */
  .header {
    height: 55px;
    padding-left: 15px;
  }

  /* Botão de alternância da barra lateral */
  .header .toggle-sidebar-btn {
    font-size: 30px;
    margin-left: 0;
  }

  /* Ícones de navegação */
  .header-nav .nav-icon {
    font-size: 20px;
  }

  /* Ajustes de perfil e notificações */
  .header-nav .nav-profile span {
    font-size: 14px;
  }

  .header-nav .notifications .notification-item h4,
  .header-nav .messages .message-item h4 {
    font-size: 15px;
  }

  .header-nav .notifications .notification-item p,
  .header-nav .messages .message-item p {
    font-size: 13px;
  }
}

/* Ajustes para telas entre 769px e 1200px (desktops menores e tablets maiores) */
@media (min-width: 769px) and (max-width: 1200px) {
  /* Logo */
  .logo {
    width: auto;
  }

  .logo img {
    max-height: 24px;
  }

  .logo span {
    font-size: 22px;
  }

  /* Header */
  .header {
    height: 60px;
    padding-left: 20px;
  }

  /* Botão de alternância da barra lateral */
  .header .toggle-sidebar-btn {
    font-size: 32px;
    margin-left: 0;
  }

  /* Ícones de navegação */
  .header-nav .nav-icon {
    font-size: 22px;
  }

  /* Ajustes de perfil e notificações */
  .header-nav .nav-profile span {
    font-size: 16px;
  }

  .header-nav .notifications .notification-item h4,
  .header-nav .messages .message-item h4 {
    font-size: 16px;
  }

  .header-nav .notifications .notification-item p,
  .header-nav .messages .message-item p {
    font-size: 14px;
  }
}

/* Ajustes para telas maiores que 1200px (desktops grandes) */
@media (min-width: 1201px) {
  /* Logo */
  .logo {
    width: 280px;
  }

  .logo img {
    max-height: 26px;
  }

  .logo span {
    font-size: 26px;
  }

  /* Header */
  .header {
    height: 60px;
    padding-left: 20px;
  }

  /* Botão de alternância da barra lateral */
  .header .toggle-sidebar-btn {
    font-size: 32px;
    margin-left: 0px;
  }

  /* Ícones de navegação */
  .header-nav .nav-icon {
    font-size: 22px;
  }

  /* Ajustes de perfil e notificações */
  .header-nav .nav-profile span {
    font-size: 16px;
  }

  .header-nav .notifications .notification-item h4,
  .header-nav .messages .message-item h4 {
    font-size: 16px;
  }

  .header-nav .notifications .notification-item p,
  .header-nav .messages .message-item p {
    font-size: 14px;
  }
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #ff66c4;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #ff66c4;
}

.sidebar-nav .nav-link.collapsed {
  color: #ff66c4;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #ff66c4;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #ff66c4;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #ff66c4;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #ff66c4;
}

.sidebar-nav .nav-content a.active i {
  background-color: #ff66c4;
}

/*--------------------------------------------------------------
# General Styles for All Devices
--------------------------------------------------------------*/
/* Estilo para o container do card */
.profile-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 100vh;           /* Altura da tela */
  width: 100vw;            /* Largura da tela */
  padding: 20px;           /* Espaçamento ao redor do card */
  box-sizing: border-box;  /* Inclui padding e border na largura e altura total */
}

/* Estilo para o card */
.card {
  width: 100%;              /* Largura total do container */
  max-width: 900px;         /* Largura máxima do card */
  height: 100%;             /* Altura total do container */
  max-height: 800px;        /* Altura máxima do card */
  overflow: hidden;         /* Garante que o conteúdo não ultrapasse os limites */
  border-radius: 10px;     /* Bordas arredondadas */
}

/* Estilo adicional para tornar o card mais responsivo e visualmente atraente */
.card-body {
  padding: 20px;            /* Espaçamento interno do card */
  background-color: #ffffff; /* Cor de fundo do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border-radius: 10px;     /* Bordas arredondadas do card */
}

/* Estilo para o cartão de perfil */
.profile .profile-card {
  width: 100%; /* Largura do cartão igual a 100% do contêiner pai */
  height: 100%; /* Altura do cartão igual a 100% do contêiner pai */
  box-sizing: border-box; /* Inclui padding e border na largura e altura total */
  display: flex; /* Usa flexbox para alinhar o conteúdo */
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

/* Estilo para a imagem do perfil */
.profile .profile-card img {
  max-width: 100%; /* Ajusta a imagem para caber na largura do cartão */
  height: auto; /* Mantém a proporção da imagem */
}

/* Estilo para o nome do usuário no cartão de perfil */
.profile .profile-card h2 {
  font-size: 20px; /* Tamanho da fonte para o nome */
}

/* Estilo para a descrição ou título secundário no cartão de perfil */
.profile .profile-card h3 {
  font-size: 16px; /* Tamanho da fonte para a descrição ou título secundário */
}

/* Estilo para os links sociais no cartão de perfil */
.profile .profile-card .social-links a {
  font-size: 18px; /* Tamanho da fonte para ícones sociais */
}

/* Estilo para o formulário de edição de perfil */
.profile .profile-edit img {
  max-width: 100%; /* Ajusta a imagem do perfil na edição para caber na tela */
}

/* Estilo para os campos de entrada */
.profile-input {
  font-size: 14px; /* Tamanho da fonte para os campos de entrada */
  padding: 8px; /* Espaçamento interno dos campos de entrada */
}

/* Estilo para os campos de entrada ao passar o mouse ou focar */
.profile-input:focus {
  border-color: #ff66c4; /* Cor da borda quando o campo de entrada está em foco */
}

/* Estilo para a área de texto "Sobre" */
.profile-textarea {
  height: 80px; /* Altura da área de texto */
}

/* Estilo para o botão de ação */
.btn-primary {
  font-size: 14px; /* Tamanho da fonte do botão */
  padding: 8px 16px; /* Espaçamento interno do botão */
}

/* Estilo para o botão de ação ao passar o mouse */
.btn-primary:hover {
  background-color: #ff66c4; /* Cor de fundo do botão ao passar o mouse */
}


/*--------------------------------------------------------------
# Responsive Styles for Mobile Devices
--------------------------------------------------------------*/

@media (max-width: 768px) {
  /* Estilo para o cartão de perfil em telas menores */
  .profile .profile-card {
    max-width: 100%; /* Garante que o cartão não ultrapasse a largura da tela */
    height: auto; /* Ajusta a altura automaticamente conforme o conteúdo */
  }

  /* Estilo para a imagem do perfil em telas menores */
  .profile .profile-card img {
    max-width: 80px; /* Ajusta o tamanho da imagem para caber em telas menores */
  }

  /* Estilo para o nome do usuário no cartão de perfil em telas menores */
  .profile .profile-card h2 {
    font-size: 18px; /* Reduz o tamanho da fonte do nome */
  }

  /* Estilo para a descrição ou título secundário no cartão de perfil em telas menores */
  .profile .profile-card h3 {
    font-size: 14px; /* Reduz o tamanho da fonte da descrição */
  }

  /* Estilo para os links sociais no cartão de perfil em telas menores */
  .profile .profile-card .social-links a {
    font-size: 16px; /* Reduz o tamanho da fonte dos ícones sociais */
  }

  /* Estilo para o formulário de edição de perfil em telas menores */
  .profile .profile-edit img {
    max-width: 80px; /* Ajusta o tamanho da imagem do perfil na edição */
  }

  /* Estilo para os campos de entrada em telas menores */
  .profile-input {
    font-size: 12px; /* Reduz o tamanho da fonte dos campos de entrada */
    padding: 6px; /* Reduz o espaçamento interno dos campos de entrada */
  }

  /* Estilo para a área de texto "Sobre" em telas menores */
  .profile-textarea {
    height: 60px; /* Ajusta a altura da área de texto */
  }

  /* Estilo para o botão de ação em telas menores */
  .btn-primary {
    font-size: 12px; /* Reduz o tamanho da fonte do botão */
    padding: 6px 12px; /* Reduz o espaçamento interno do botão */
  }
}

/*--------------------------------------------------------------
# Responsive Styles for Tablet Devices
--------------------------------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilo para o cartão de perfil em tablets */
  .profile .profile-card {
    max-width: 100%; /* Garante que o cartão não ultrapasse a largura da tela do tablet */
    height: auto; /* Ajusta a altura automaticamente conforme o conteúdo */
  }

  /* Estilo para a imagem do perfil em tablets */
  .profile .profile-card img {
    max-width: 100px; /* Ajusta o tamanho da imagem para tablets */
  }

  /* Estilo para o nome do usuário no cartão de perfil em tablets */
  .profile .profile-card h2 {
    font-size: 22px; /* Ajusta o tamanho da fonte do nome */
  }

  /* Estilo para a descrição ou título secundário no cartão de perfil em tablets */
  .profile .profile-card h3 {
    font-size: 16px; /* Ajusta o tamanho da fonte da descrição */
  }

  /* Estilo para os links sociais no cartão de perfil em tablets */
  .profile .profile-card .social-links a {
    font-size: 18px; /* Ajusta o tamanho da fonte dos ícones sociais */
  }

  /* Estilo para o formulário de edição de perfil em tablets */
  .profile .profile-edit img {
    max-width: 100px; /* Ajusta o tamanho da imagem do perfil na edição */
  }

  /* Estilo para os campos de entrada em tablets */
  .profile-input {
    font-size: 14px; /* Ajusta o tamanho da fonte dos campos de entrada */
    padding: 8px; /* Ajusta o espaçamento interno dos campos de entrada */
  }

  /* Estilo para a área de texto "Sobre" em tablets */
  .profile-textarea {
    height: 70px; /* Ajusta a altura da área de texto */
  }

  /* Estilo para o botão de ação em tablets */
  .btn-primary {
    font-size: 14px; /* Ajusta o tamanho da fonte do botão */
    padding: 8px 16px; /* Ajusta o espaçamento interno do botão */
  }
}

/*--------------------------------------------------------------
# Responsive Styles for Large Screens (Desktops and Larger)
--------------------------------------------------------------*/

@media (min-width: 1025px) {
  /* Estilo para o cartão de perfil em telas grandes */
  .profile .profile-card {
    max-width: 100%; /* Garante que o cartão não ultrapasse a largura da tela */
    height: 100%; /* Garante que o cartão ocupe 100% da altura do contêiner pai */
  }

  /* Estilo para a imagem do perfil em telas grandes */
  .profile .profile-card img {
    max-width: 120px; /* Ajusta o tamanho da imagem para telas grandes */
  }

  /* Estilo para o nome do usuário no cartão de perfil em telas grandes */
  .profile .profile-card h2 {
    font-size: 24px; /* Ajusta o tamanho da fonte do nome */
  }

  /* Estilo para a descrição ou título secundário no cartão de perfil em telas grandes */
  .profile .profile-card h3 {
    font-size: 18px; /* Ajusta o tamanho da fonte da descrição */
  }

  /* Estilo para os links sociais no cartão de perfil em telas grandes */
  .profile .profile-card .social-links a {
    font-size: 20px; /* Ajusta o tamanho da fonte dos ícones sociais */
  }

  /* Estilo para o formulário de edição de perfil em telas grandes */
  .profile .profile-edit img {
    max-width: 120px; /* Ajusta o tamanho da imagem do perfil na edição */
  }

  /* Estilo para os campos de entrada em telas grandes */
  .profile-input {
    font-size: 16px; /* Ajusta o tamanho da fonte dos campos de entrada */
    padding: 10px; /* Ajusta o espaçamento interno dos campos de entrada */
  }

  /* Estilo para a área de texto "Sobre" em telas grandes */
  .profile-textarea {
    height: 100px; /* Ajusta a altura da área de texto */
  }

  /* Estilo para o botão de ação em telas grandes */
  .btn-primary {
    font-size: 16px; /* Ajusta o tamanho da fonte do botão */
    padding: 10px 20px; /* Ajusta o espaçamento interno do botão */
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #ff66c4;
}


/*PEDIDOS*/

/* Estilos gerais para o container dos cards */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilos para o card */
.card-container .card {
  background: linear-gradient(135deg, #f0f8ff, #e0f7fa); /* Degradê azul claro */
  color: #333;
  border: 1px solid #d1d1d1;
  padding: 20px;
  position: relative; /* Necessário para posicionar o status */
  border-radius: 15px; /* Arredondamento dos cantos */
  margin: 20px 0;
  max-width: 600px; /* Limita o tamanho do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-container .card:hover {
  transform: scale(1.02); /* Aumenta ligeiramente o card ao passar o mouse */
}

/* Estilos para o status */
.card-container .card .status {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff66c4; /* Cor de fundo azul */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
}

/* Estilos para o serviço em destaque */
.card-container .card .servico-destaque {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff; /* Cor azul para destacar */
}

/* Estilos para o card sem pedidos */
.card-container .no-pedidos {
  background: linear-gradient(135deg, #ffe5e5, #ffcccc); /* Degradê para o card de nenhum pedido */
  color: #721c24;
  border: 1px solid #f5c6cb;
  text-align: center;
}

.close-card {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
  color: #721c24;
  font-weight: bold;
}

.close-card:hover {
  color: #d9534f;
}

/* Estilos para os botões */
.button {
  background-color: #ff66c4; /* Cor azul */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px; /* Espaço entre os botões */
  text-align: center;
  display: inline-block; /* Exibe os botões um ao lado do outro */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff66c4; /* Azul mais escuro ao passar o mouse */
}

.button:active {
  background-color: #ff66c4; /* Azul ainda mais escuro ao clicar */
}

/* Estilos para os campos do card */
.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
  gap: 10px; /* Espaçamento entre as colunas */
  width: 100%;
}

.card-content p {
  margin: 5px 0;
}

.card-content p strong {
  display: block; /* Exibe os tópicos em bloco para melhor alinhamento */
}

.card-content p span {
  display: block; /* Exibe os valores em bloco para melhor alinhamento */
}

/* Responsividade */
@media (max-width: 768px) {
  .card-container .card {
    width: 90%;
    margin: 10px auto;
  }

  .button {
    width: 100%;
    padding: 15px;
  }
}
